/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /*common*/
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    height: 600px;
    width:600px;
    background-color: darkcyan;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.cell{
    border: 1px solid black;
    background-color: azure;
    width: calc(100% / 10);
    height: calc(100% / 10) ;
}